extends layout

block body
  div.channels
    ul
      - each channel in channels
        li
          a(href= '/logs/' + escape(channel) + '/latest') #{channel}
          = ' ('
          a(href= '/logs/' + escape(channel) + '/index') index
          = ' | '
          a(href= '/logs/' + escape(channel) + '/latest') latest
          = ')'
